* {
    font-family:"NunitoRegular";
    margin:0;
}

.texto {
    text-align: center;
    font-size: 30px;
}

.tituloHeader {
    box-sizing: border-box;
    padding-top: 40px;
    color: #fefefe;
    text-align: center;
    font-size: 70px;
}

.contactLink {
    box-sizing: border-box;
    margin-left: 75px;
    padding-top: 70px;
    padding-right: 25px;
    font-weight: bold;
    font-size: 22px;
    color:#fff;
    text-decoration: none;
}

.tituloAside {
    font-weight: bold;
}

.header, .footer {
    width: 100%;
    height: 160px;

}

.footer {
    width: 100%;
    height: 140px;

}
.separacion {
    margin: 25px;
}

.header {
    background-color:#000000;
}

.espaciadoItems {
    flex-flow: wrap;
    justify-content: space-between;
}

.iconHeader {
    width: 230px;
    height: 100%;
    text-align: center;
    background-image: url("img/iconPage.webp");
    background-size: contain;
    background-repeat: no-repeat;
}

.footer {
    background-color: #000000;
}

.textFooter {
    box-sizing: border-box;
    padding-top: 100px;
    text-align: center;
    color:#fff;
    font-size: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7,  1fr);
    grid-template-rows: repeat(10,  1fr);
}

.aside {
    box-sizing: border-box;
    padding: 70% 6% 6% 6%;
    text-align: center;
    color:#C0C0C0;
    background-color: #1d1717;
    grid-row: 1 / 11;
}

.section1 {
    box-sizing: border-box;
    border-left: 6px #ffffff3f solid;
    font-size: 17px;
    text-align: center;
    color:#fff;
    font-family: "NunitoItalic";
    background-color: transparent;
    grid-column: 2 / 8;
}

.textColorGreen {
    color:#298b00 ;
    font-weight: bold;
}

.section2 {
    background-color: #ffffff6f;
    grid-column: 2 / 4;
    grid-row: 2 / 11;
}

.itemsSubTitlesSection2 {
    color:#000     ;
}

.section3 {
    border-top: 6px #000 solid;
    background-color: #552929cc;
    grid-column: 4 / 8;
    grid-row: 2 / 11; 
}

.section3 video {
    width: 100%; 
    height: 50%; 
    object-fit: cover; 
}

.section4and5 {
    background-color: #ffffff;
    grid-column: 4 / 8;
    grid-row: 6 / 11; 
}


.flex {
    display:flex;
}

.flex-section4, .flex-section5 {
    width: 50%;
    height: 100%;
}

.flex-section4 {
    text-align: center;
    box-sizing: border-box;
    padding:  120px 10px 10px 20px;
    background-color: #00000069;

}

.flex-section5 {
    text-align: center;
    box-sizing: border-box;
    padding:  10px 10px 10px 20px;
    background-color: #0000002a;

}
.ImgBackground {
    width: 100%;
    height: 100%;
    background-image: url("img/background.webp");
    background-attachment: fixed;
}

.ImgAds {
    margin-top: 30px;
    text-align: center;
    width: 170px;
    height: 50%;
    background-image: url("img/advProm.webp");
    background-size: contain;
    background-repeat: no-repeat;
}

.ImgVipExperience {
    margin-left: 50px;
    width: 90%;
    height: 60%;
    background-image: url("img/vipExperience.webp");
    background-size: contain;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none; 
    padding: 0;
}

.custom-icon {
    background-image: url("img/itemEvent.svg");
    background-repeat: no-repeat; 
    background-position: 4px 15px; 
    background-size: 52px 52px; 
    padding-top: 25px;
    padding-left: 65px; 
    padding-bottom: 46px;
}

.icon-link {
    border-radius: 100%;
    display: inline-block;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain; 
    text-indent: -9999px;
    overflow: hidden; 
}


/** Styles for the contact.html page **/


.headerContact {
    font-weight: 600;
    text-align: center;
    width: 100%;
    height: 120px;
    background-color: #4b3434;
}

.footerContact {
    background-color: #4c3e3e;
    height: 50px;
}

.gridContact {
    display: grid;
    grid-template-columns: repeat(12,  1fr);
    height: 720px;
}

.sectionImg {
    background-color: #ce8f66;
    grid-column: 1/3;
}

.sectionMsg {
    background-color: #c26e37;
    grid-column: 3/7;
}

.sectionContact {
    background-color: #c55e1a;
    grid-column: 7/13;

}

.flexContact {
    display:flex;
    flex-direction: column;
}


.flex-img, .flex-description {
    width: 100%;
    height:50%;
}

.flex-img {
    background-color: #271c1c;

}

.flex-description {
    background-color: #784242;

}